@model Quiz.Models.LogonModel

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <article>
        <h3>Welcome, @User.Identity.Name!</h3>
    </article>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}