.dl-horizontal dt {
    white-space: normal;
}

.shadow {
    background: #fc0; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    padding: 10px;
}

.page (min-width: 600px) {
}
.container {
    max-width: 600px;
    margin: 0 auto;	
  }


img {
	height: 24px;
	width: 24px;
}

 input, select, textarea {
    width: 200px;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
	background-color: #f0f0f0;
	border-radius: 3px;
}

.register-label
{
    width: 220px;
    border: 0px;
    padding: 40px;
    margin: 10px;
}
.btn-login:hover { background: lightgreen; }


.table,th,td{
	padding: 5px;
	border-collapse: collapse; 
	
	text-align: left;
	vertical-align: center;
	border-bottom: 1px solid #ddd;
}
table {
    width: 100%;
	border: 1px solid grey;
	
}
tr:nth-child(even) {background-color: #f8f8f8;}
tr:hover {background-color: #f0f0f0;}
th {
    background-color: lightgreen;
    color: white;
}

.box {
	display: table-cell;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}

.btn-login {
    width: 220px;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
	background-color: #f0f0f0;
	border-radius: 6px;
	font-weight: 800;
}
.btn-login:hover { background: lightgreen; }


.blockgreen {
    padding: 20px; 
    display: block;
    background: lightgreen; 
    width: 290px;
	border-radius: 3px;
}
.blockwhite {
    margin-right: 0px;
    margin-left: 0px;
    left: 20px;
    padding: 20px; 
    background: white;
    width: 250px;
	border-radius: 3px;
}

.grid-even-row {
    background-color: white;
    padding-bottom: 10px;
    font-size:larger;
    padding-left: 0px;
}

.grid-odd-row {
    background-color:#dedcdc;
    padding-bottom: 10px;
    font-size: larger;
    padding-left: 0px;
}


.backgroundgreen {
    padding: 20px; 
    display: block; 
    background: lightgreen; 
    width: 330px;
}
.backgroundwhite {
    margin-right: 0px;
    margin-left: 0px;
    left: 20px;
    padding: 20px; 
    background: white; 
    width: 290px;
}


footer {
	background-color: lightgrey;
	height:auto;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

nav {
   background-color:#e0e0e0;
   min-width: 150px;
   width: 15%;
   position:absolute;
}
   
article {
   background-color:#f0f0f0;
   min-width: 100px;
   width: 75%;
   position:absolute;
   left:160px
}
